/* colors */
$color-white: #fff;
$color-black: #000;
$color-grey-mid: #383838;

$color-green-light: #5FFB5F;
$color-green-mid: #30BA30;
$color-green-dark: #167D16;

$color-red-light: #EB4B4B;
$color-red-mid: #E31111;
$color-red-dark: #A11616;

$color-blue-light: #4B4EEB;
$color-blue-mid: #1811E3;
$color-blue-dark: #1F16A1;

$color-purple-light: #B84BEB;
$color-purple-mid: #A411E3;
$color-purple-dark: #7516A1;

$color-yellow-light: #EBE84B;
$color-yellow-mid: #E0E311;
$color-yellow-dark: #A19F16;

$color-orange-light: #EBB34B;
$color-orange-mid: #E39611;
$color-orange-dark: #B87B09;

$default-font-size: 1.6rem;

/* grid */
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
