.header {
  height: 20vh;
  background-image: linear-gradient(to right,
  rgba($color-black, 0.8),
  rgba($color-white, 0.8));
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
