.button-box {
  text-align: center;
  margin: 1rem auto;
}

@mixin button-round-color($btn, $font){
  background-color: $btn;
  color: $font;

  &:after {
    background-color: $btn;
  }
}

.btn-round {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    transition: all .2s;
    padding: 1.5rem 4rem;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
  }

  &--light-green {
    @include button-round-color($color-green-light, $color-white);
  }

  &--mid-green {
    @include button-round-color($color-green-mid, $color-white);
  }


  &--dark-green {
    @include button-round-color($color-green-dark, $color-white);
  }

  &--light-red {
    @include button-round-color($color-red-light, $color-white);
  }

  &--mid-red {
    @include button-round-color($color-red-mid, $color-white);
  }

  &--dark-red {
    @include button-round-color($color-red-dark, $color-white);
  }

  &--light-blue {
    @include button-round-color($color-blue-light, $color-white);
  }

  &--mid-blue {
    @include button-round-color($color-blue-mid, $color-white);
  }

  &--dark-blue {
    @include button-round-color($color-blue-dark, $color-white);
  }

  &--light-purple {
    @include button-round-color($color-purple-light, $color-white);
  }

  &--mid-purple {
    @include button-round-color($color-purple-mid, $color-white);
  }

  &--dark-purple {
    @include button-round-color($color-purple-dark, $color-white);
  }

  &--light-yellow {
    @include button-round-color($color-yellow-light, $color-black);
  }

  &--mid-yellow {
    @include button-round-color($color-yellow-mid, $color-black);
  }

  &--dark-yellow {
    @include button-round-color($color-purple-dark, $color-black);
  }

  &--light-orange {
    @include button-round-color($color-orange-light, $color-black);
  }

  &--mid-orange {
    @include button-round-color($color-orange-mid, $color-black);
  }

  &--dark-orange {
    @include button-round-color($color-orange-dark, $color-black);
  }

  &--black {
    @include button-round-color($color-black, $color-white);
  }

  &--white {
    background-color: $color-white;
    color: $color-black;
    box-shadow: 0 0 0 .2rem rgba($color-black, 1);

    &::after {
      background-color: $color-white;
    }
  }

  &--grey {
    @include button-round-color($color-grey-mid, $color-white);
  }
}

.btn-square {
  &:link,
  &:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $default-font-size;
    padding: 1rem 2rem;
    background-size: 225%;
    transition: all .4s;
    color: $color-black;
  }

  &:hover,
  &:active {
    background-position: 100%;
  }

  &--white {
    &:link,
    &:visited {
      box-shadow: 0 0 0 .2rem rgba($color-black, 1);
      background-image: linear-gradient(120deg, $color-black, transparent 0%, transparent 50%, $color-black 50%);
    }

    &:hover,
    &:active {
      color: $color-white;
    }
  }

  &--black {
    &:link,
    &:visited {
      border: 2px solid rgba(transparent, 1);
      color: $color-white;
      background-image: linear-gradient(120deg, $color-black, $color-black 0%, $color-black 50%, transparent 50%);
    }

    &:hover,
    &:active {
      border: 2px solid rgba($color-black, 1);
      color: $color-black;
    }
  }

  &--grey {
    &:link,
    &:visited {
      border: 2px solid rgba($color-grey-mid, 1);
      color: $color-white;
      background-image: linear-gradient(120deg, $color-grey-mid, $color-grey-mid 0%, $color-grey-mid 50%, transparent 50%);
    }

    &:hover,
    &:active {
      border: 2px solid rgba($color-grey-mid, 1);
      color: $color-black;
    }
  }

}

.btn-explode {
  &,
  &:link,
  &:visited {
    perspective: 10rem;
    -moz-perspective: 10rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    transition: all .2s;
    padding: 1.5rem 4rem;
  }

  &:hover,
  &:active {
    transform: rotateX(180deg);
    background-color: orangered;
    text-transform: rotateX(0deg);

  }

  &--orangered {
    background-color: transparent;
    color: $color-black;
    box-shadow: 0 0 0 .2rem orangered;
  }
}
