*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*sets the font size for the whole page to use rem easily
calculate using 'font size in px' / 16
ex:
10 / 16 = .625 = 62.5% */
html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-white;
  padding: 3rem;
  box-sizing: border-box;
}
